# Created by https://www.gitignore.io/api/django
# Edit at https://www.gitignore.io/?templates=django

ciaplist/secrets.py
### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# If your build process includes running collectstatic, then you probably don't need or want to include staticfiles/
# in your Git repository. Update and uncomment the following line accordingly.
# <django-project-name>/staticfiles/

### Django.Python Stack ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# End of https://www.gitignore.io/api/django
testowe/CiapList_gad.html
ciaplist/secrets.py
main/static/main/vegetable.svg
main/static/main/index.html
main/static/main/vegetable@2x.png
staticfiles/staticfiles.json
staticfiles/admin/css/autocomplete.781713f30664.css
staticfiles/admin/css/base.ae33e6383baa.css
staticfiles/admin/css/changelists.cfe316f81936.css
staticfiles/admin/css/dashboard.7ac78187c567.css
staticfiles/admin/css/fonts.168bab448fee.css
staticfiles/admin/css/forms.9f1ffc442e9a.css
staticfiles/admin/css/login.252ffabd6548.css
staticfiles/admin/css/responsive_rtl.51c7445ceeff.css
staticfiles/admin/css/responsive.755ce0b07393.css
staticfiles/admin/css/rtl.30f903442dc5.css
staticfiles/admin/css/widgets.8874c301e7bc.css
staticfiles/admin/css/vendor/select2/select2.fd9fe49d3d91.css
staticfiles/admin/css/vendor/select2/select2.min.af22a7e2bfec.css
staticfiles/debug_toolbar/css/print.58a6064f1b3e.css
staticfiles/debug_toolbar/css/toolbar.209e4118eb80.css
staticfiles/main/font-rage.9eb68f178d52.css
staticfiles/main/font-rage.9eb68f178d52.css.gz
staticfiles/main/font-rage.css
staticfiles/main/font-rage.css.gz
staticfiles/main/style.5abb72ff0b5c.css
staticfiles/main/style.5abb72ff0b5c.css.gz
staticfiles/main/style.css
staticfiles/main/style.css.gz
