@media screen 
  and (max-width: 360px) 
  and (max-height: 730px)  {
      /* buttons */
      .btn{
          height: 32px;
      }
      /* navbar - title and button */
      .navbar__login-button{
        margin-right: 35px;
        line-height: 0;
     }
    
     .navbar__title{
         margin-left: 35px;
         
     }
    /* input */
    .form__item-input, .form__item-quantity{
        margin: 10px 5px;
    }

    .form__item-input{
        width: 60%;
     }
    
     .form__item-quantity{
        width: 25%;
     }
       /* atrribution */
       .footer__icon-atribution {
        font-size: .3rem;
        width: 10vw;
       }
}