*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color:#F2DEC4;
    font-family: 'Lato', sans-serif;
}

.btn{
    background-color: #593528;
    border:1px solid #593528;
    padding: .5rem 1.8rem;
    border-radius: 5px;
    color: #F2A2B1;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
}

.navbar{
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(91, 140, 42, 0.7);
    height: 8vh;
    padding: 8px 20px;
}
 .navbar__login-button{
     margin-right: 80px;
 }
 .navbar__title{
     color: #593528;
     margin-left: 50px;
     font-family: 'Lato', sans-serif;
 }

 .form{
     border: 1px solid #F2A007;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 50px;
     padding: 20px;
 }
.form__input-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%
}
 .form__item-input, .form__item-quantity{
     margin: 20px;
     padding: 12px;
     background-color: #F2A007;
     border: 1px solid #593528;
 }

 .form__item-input{
    width: 60%;
 }

 .form__item-quantity{
    width: 15%;
 }
 .form__submit-btn{
     height: 2.5rem;
 }
 .form__list-items{
   list-style:none;
   border: 1px solid #F2A2B1;
   padding-inline-start: 0;
 }
 .form__list-item{
     background-color: #F2A007;
     padding: 0.5rem 2rem;
     margin: 0.5rem;
     border-radius: 5px;
     display: flex;
     align-items: center;
     font-size: 1rem;
 }

 label{
     color: #593528;
     padding: .2rem .5rem;
 }

 input[type="checkbox" i]{
     margin: .5rem;
 }

 input[type=checkbox]:checked + label{
     background-color: #F2DEC4;
     color: rgb(79, 84, 85);
     text-decoration: line-through;

 }
 /* styles added in JS */
 
 .alert{
     margin: 1.5rem;
     color: rgb(197, 48, 48);
     font-weight: 700;
 }
 .input-alert{
     border: 1px solid  rgb(197, 48, 48);
     background-color: rgb(235, 204, 199); }

