@font-face {
    font-family: 'Rage Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Rage Italic'), url('http//:ciaplist.heroku.com/static/main/RAGE_1.f9d696defbde.woff') format('woff');
}