*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color:#E6DCDE;
    font-family: 'Lato', sans-serif;
}
/* button styles */
.btn{
    background: linear-gradient(rgb(209, 181, 144)  -370%, #593528);
    text-align: center;
    height: 38px;
    width: 100px;
    color: #E6DCDE;
    border:0;
    border-radius: 2px;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transition: all .15s;
}
.btn:hover{
    box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* navbar styles */
.navbar{
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #5c8d2a;
    height: 9vh;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
 .navbar__login-button{
 
    margin-right: 60px;
 }

 .navbar__title{
     color: #F4ECE1;
     font-size: 2rem;
     margin-left: 60px;
     font-family: 'Rage', sans-serif;
     font-weight: 300;
 }

 /* form styles */
 .form{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 50px;
     padding: 20px;
 }
 
.form__input-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    width: 100%;
    padding: 2rem;
}

/* input what and how many styles */
 .form__item-input, .form__item-quantity{
     margin: 20px 5px;
     padding: 12px;
     background-color: #F4ECE1;
     border: 1px solid #593528;
     border-radius: 2px;
     box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
 }

 .form__item-input{
    width: 40%;
 }

 .form__item-quantity{
    width: 10%;
 }
 .form__submit-btn{
    margin: 20px;
 }

 /* list styles */
 .form__list-items{
   list-style:none;
   /* border: 1px solid #F2A2B1; */
   padding-inline-start: 0;
 }

 /* items styles */
 .form__list-item{
     background-color: #F2A007;
     padding: 0.5rem 2rem;
     margin: 0.5rem;
     border: 1px solid #5e4840;
     border-radius: 5px;
     display: flex;
     align-items: center;
     font-size: 1rem;
     box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
 }


 /* items when checked styless */
 label{
     color: #593528;
     padding: .2rem .5rem;
 }

 input[type="checkbox" i]{
     margin: .5rem;
 }

 input[type=checkbox]:checked + label{
     background-color: #F2DEC4;
     color: rgb(79, 84, 85);
     text-decoration: line-through;

 }
 .footer{
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     bottom: 0;
     left:0;
     height: 12vh;
     width: 100%;
     background-color: #5c8d2a;
 }

 .footer__info{
     margin: 0 auto;
     color: #F4ECE1;
 }
 /* styles added in JS */

 .alert{
     margin: 1.5rem;
     color: rgb(197, 48, 48);
     font-weight: 700;
 }
 .input-alert{
     border: 1px solid  rgb(197, 48, 48);
     background-color: rgb(235, 204, 199); }

.li-checked{
    background-color:#F2DEC4;
    border: 1px solid  #F2A007;
}
.del{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 10vh;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.del-enter{
   border: 1px solid black;
    
}

