*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color:#E6DCDE;
    font-family: 'Lato', sans-serif;
    background-image: url('../img/vegetable.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;

}
.background-image{
    width: 100%;
    height: 100%;
    position: sticky;
    z-index: -1;
   
  
}
.background-image img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* top: 50%;
    left: 50%;
    transform: translate(-50% -50%); */
}
/* button styles */
.btn{
    background: linear-gradient(rgb(209, 181, 144)  -370%, #593528);
    text-align: center;
    height: 38px;
    width: 100px;
    color: #E6DCDE;
    border:0;
    border-radius: 2px;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    box-shadow: 3px 3px 5px  rgba(0, 0, 0, 0.3);
    transition: all .3s;
}
.btn:hover{
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

/* navbar styles */
.navbar{
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #5c8d2a;
    height: 9vh;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
 .navbar__login-button{
    margin-right: 60px;
 }

 .navbar__title{
     color: #F4ECE1;
     font-size: 2rem;
     margin-left: 60px;
     font-family: 'Rage Italic', sans-serif;
     font-weight: 300;
 }

 /* form styles */
 .form, .form-list{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 70px 0 0 0;
 }
 .form-list{
     padding: 0 0 15vh 0;
 }
.form__input-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    width: 100%;
    padding: 2rem;
}
/* input what and how many styles */
 .form__item-input, .form__item-quantity{
     margin: 20px 15px;
     padding: 12px;
     background-color: #F4ECE1;
     border: 1px solid #593528;
     border-radius: 2px;
     box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
 }

 .form__item-input{
    width: 40%;
 }

 .form__item-quantity{
    width: 10%;
 }
 .form__submit-btn{
    margin: 20px;
 }

 /* list styles */
 .form__list-items{
   list-style:none;
   margin: 2rem 0;
   /* border: 1px solid #F2A2B1; */
   padding-inline-start: 0;
 }

 /* items styles */
 .form__list-item{
     background-color: #F2A007;
     padding: 0.5rem 2rem;
     margin: 0.5rem;
     border: 1px solid #5e4840;
     border-radius: 5px;
     display: flex;
     align-items: center;
     font-size: 1rem;
     box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
 }


 /* items when checked styless */
 label{
     color: #593528;
     width: 100%;
     height: 100%;
 }

 input[type="checkbox" i]{
     margin: .5rem;
 }

 input[type=checkbox]:checked + label{
     background-color: #F2DEC4;
     color: rgb(79, 84, 85);
     text-decoration: line-through;

 }
 .footer{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: absolute;
     bottom: 0;
     left:0;
     height: 12vh;
     width: 100%;
     padding: .5rem;
     background-color: #5c8d2a;
 }

 .footer__info{
     margin: .7rem 0;
     color: #F4ECE1;
     text-align: center;
 }
 .footer__icon-atribution{
     color:white;
     font-size: .5rem;
     text-align: center;
 }
 .footer__icon-atribution a{
     text-decoration: none;
     color: white;
 }
 /* styles added in JS */

 .alert{
     margin: 1.5rem;
     color: rgb(197, 48, 48);
     font-weight: 700;
 }
 .input-alert{
     border: 1px solid  rgb(197, 48, 48);
     background-color: rgb(235, 204, 199); }

.li-checked{
    background-color:#F2DEC4;
    border: 1px solid  #F2A007;
}
.del{
    position: fixed;
    z-index:2;
    bottom: 16vh;
    left: calc(50vw - 35px);
    border-radius:50%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 100px;
    margin:0 auto;
    text-align: center;
    color: #F2A007;
    font-weight: 200;
    font-size: 4rem;
    line-height: 1.25;
    padding:.5rem;
    opacity:.6;
}

.del-enter{
   /* border: 1px dotted #F2A007; */
   /* transform: scale(1.1); */
   opacity: 1;
}
.none{
    display:none;
}

i{
    height: 70px
}

