{% extends "main/base.html" %}
{% block content %}
    <section class="login-sec">
        <form method="POST" class="login-sec__form">
            {% csrf_token %}
            <input type="text" name="username"  required id="id_username" class="login-sec__input" placeholder="Login">
            <input type="password" name="password" required id="id_password" class="login-sec__input" placeholder="Hasło">
            <button class="login-sec__btn">Zaloguj</button>
        </form>
        <a href="{% url 'password_reset' %}">Zapomniane hasło?</a>
    </section>
{% endblock %}