{% extends "main/base.html" %}
{% block content %}
{% if validlink %}
    <section class="login-sec">
        <form method="POST" class="login-sec__form">
            {% csrf_token %}
            <p class="login-sec__info"><label class="login-sec__info" for="id_new_password1">Podaj nowe hasło.</label></p>
            <input type="password" class="login-sec__input" placeholder="Nowe hasło" name="new_password1" autocomplete="new-password" required id="id_new_password1">
            <input type="password" class="login-sec__input" placeholder="Powtórz hasło" name="new_password2" autocomplete="new-password" required id="id_new_password2">
            <button class="login-sec__btn">Reset</button>
        </form>
    </section>
{% else %}
<p>
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
  </p>
{% endif %}
{% endblock %}