{% extends "main/base.html" %}
{% block content %}


    <section class="login-sec">
        <form method="POST" class="login-sec__form">
            {% csrf_token %}
            <p class="login-sec__info"><label for="id_email">Podaj adres e-mail, na który wyślemy nowe hasło.</label></p>
            <input type="email" class="login-sec__input" name="email" autocomplete="email" maxlength="254" required id="id_email" placeholder="Adres e-mail">
            <button class="login-sec__btn">Wyślij</button>
        </form>
    </section>
   {% endblock %}