<!DOCTYPE html>
<html lang="pl">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <title>CiapList</title>
</head>
<body>
    <nav class="navbar">
        <h1 class="navbar__title">Ciaplist</h1>
        <button class="navbar__login-button btn">Zaloguj</button>
    </nav>
    <form action="{% url 'main' %}" method="post" class="form" enctype="multipart/form-data">
        <div class="form__input-container">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn" value="Dodaj">
        </div>
    </form>
        <div class="form__alert-messages-container">
                    
        </div>
        <form action="{% url 'sync_list' %}" method="post">
            {% csrf_token %}
        <ul class="form__list-items"> 
            {% for item in items %}
            {% if item.tick == False %}
            <li class="form__list-item" draggable="true"><input type="checkbox" name="ticker" value="{{ item.id }}" id="{{ item.id }}">
                <label for="{{ item.item_name }}">{{ item.item_name }} [{{item.quantity}}]</label>
            </li>
            {% else %}
            <li class="form__list-item" draggable="true"><input type="checkbox" checked name="ticker" value="{{ item.id }}" id="{{ item.id }}">
                <label for="{{ item.item_name }}">{{ item.item_name }} [{{item.quantity}}]</label>
            </li>
            {% endif %}
            {% endfor %}       
                
                <input type="submit" class="btn" value="Sync"></ul>
        </form>

    <script src="{% static 'main/main.js' %}"></script>
</body>
</html>

