{% extends 'main/base.html' %}
{% load static %}
{% block content%}
    <section class="forms">
    <form action="{% url 'main' %}" method="post" class="form" enctype="multipart/form-data">
        <div class="form__input-container">
            {% csrf_token %}
            <label for="id_item_name"></label> 
            <input type="text" name="item_name" class="form__item-input" maxlength="100" id="id_item_name" placeholder="Co?">
            <label for="id_quantity"></label>
            <input type="text" name="quantity" class="form__item-quantity" maxlength="50" id="id_quantity" placeholder="Ile?">
            <button type="submit" class="form__submit-btn btn">Dodaj</button>
        </div>
        <div class="form__alert-messages-container">

        </div>
    </form>
        <form class="form" action="{% url 'sync_list' %}" method="post" id="itemlist">
            {% csrf_token %}
        
        <ul class="form__list-items"> 
            {% for item in items %}
            {% if item.tick == False %}
            <li class="form__list-item" draggable="true" data-key="{{ item.item_name }}" id="{{ item.item_li_id }}"><input type="checkbox" name="ticker" value="{{ item.id }}" id="{{ item.item_name }}">
                <label for="{{ item.item_name }}">{{ item.item_name }} [{{item.quantity}}]</label>
            
            {% else %}
            <li class="form__list-item li-checked" draggable="true" data-key="{{ item.item_name }}" id="{{ item.item_li_id }}"><input type="checkbox" checked name="ticker" value="{{ item.id }}" id="{{ item.item_name }}">
                <label for="{{ item.item_name }}">{{ item.item_name }} [{{item.quantity}}]</label>
            
            {% endif %}
            <a href="{% url 'remove_item' item.id %}">[USUŃ]</a></li>
            {% endfor %}       
                
                </ul>
            </form>

        </section>
        <div class="none" id="del">
            <img class='trash' src="{% static 'main/trash-can.png' %}" alt="trash-icon">
        </div>

{% endblock %}