<!DOCTYPE html>
<html lang="pl">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://kit.fontawesome.com/3881f6afec.js" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/d0c684794f.js"></script>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/media_queries.css' %}">
    <link rel="stylesheet" href="{% static 'main/font-rage.css' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172909393-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-172909393-1');
</script>

    <title>CiapList</title>
</head>
<body>
    <nav class="navbar">
        <h1 class="navbar__title">Ciaplist</h1>
        <ul class="navbar__list">
            <li class="navbar__btn navbar__btn--sync">
                <button type="submit" form="itemlist" class="btn btn--sync">
                    <i><img src="{% static 'main/mobile-sync.png' %}" alt="sync"></i>
                </button>
            </li>
            <li class="navbar__btn navbar__btn--logout">
                <a class="btn btn--logout" href="{% url 'logout' %}?next=/"> <i><img src="{% static 'main/XMLID_2_.png' %}" alt="wydup"></i></a>
            </li>
        </ul>     
        </nav>
    <section class="forms">
    <form action="{% url 'main' %}" method="post" class="form" enctype="multipart/form-data">
        <div class="form__input-container">
            {% csrf_token %}
            <label for="id_item_name"></label> 
            <input type="text" name="item_name" class="form__item-input" maxlength="100" id="id_item_name" placeholder="Co?">
            <label for="id_quantity"></label>
            <input type="text" name="quantity" class="form__item-quantity" maxlength="50" id="id_quantity" placeholder="Ile?">
            <button type="submit" class="form__submit-btn btn">Dodaj</button>
        </div>
        <div class="form__alert-messages-container">

        </div>
    </form>
        <form class="form" action="{% url 'sync_list' %}" method="post" id="itemlist">
            {% csrf_token %}
        
        <ul class="form__list-items"> 
            {% for item in items %}
            {% if item.tick == False %}
            <li class="form__list-item" draggable="true" data-key="{{ item.item_name }}" id="{{ item.item_li_id }}"><input type="checkbox" name="ticker" value="{{ item.id }}" id="{{ item.item_name }}">
                <label for="{{ item.item_name }}">{{ item.item_name }} [{{item.quantity}}]</label>
            
            {% else %}
            <li class="form__list-item li-checked" draggable="true" data-key="{{ item.item_name }}" id="{{ item.item_li_id }}"><input type="checkbox" checked name="ticker" value="{{ item.id }}" id="{{ item.item_name }}">
                <label for="{{ item.item_name }}">{{ item.item_name }} [{{item.quantity}}]</label>
            
            {% endif %}
            <a href="{% url 'remove_item' item.id %}">[USUŃ]</a></li>
            {% endfor %}       
                
                </ul>
            </form>

        </section>
        <div class="none" id="del">
            <img class='trash' src="{% static 'main/trash-can.png' %}" alt="trash-icon">
        </div>
        <footer class="footer">
            <p class="footer__info">&copy 2020 Akuko Studio</p>
            <div class='footer__icon-atribution'>Icons made by <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </footer>
    <script src="{% static 'main/main.js' %}"></script>
</body>
</html>

